/* write your carousel css in this file */

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imageContainer{
    position: absolute;
    height: 70%;
    width: 70%;
}

.titleBox{
    background-color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-left: 25%;
    margin-top: 15%;   
    opacity: 0.7; 
    font-weight: 800;
    font-size: 20px;
}

.subTitleBox{
    height: 12%;
    background-color: white;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-left: 12%;
    margin-top: 40%;  
    opacity: 0.7;
    font-weight: 700;
}